<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
using System.Runtime.Serialization;

namespace Codolith.Serialization {
<#
    for(int i = 2; i< 11;i++){
        Write("[DataContract]");
        Write("class ModTuple");
        WriteArgumentList(i);
        WriteLine("{");
        
        WriteConstructor(i);
        WriteVariables(i);

        WriteLine("}");
    }
#>
}

<#+
    public void WriteArgumentList(int count){
        Write("<");
        for(int i = 0; i < count; i++){
            Write("T"+(i+1));
            if(i< count-1){
                Write(",");
            }
        }
        Write(">");
    }

    public void WriteConstructor(int count){
        Write("public ModTuple(");
        for(int i =0; i< count;i++){
            Write("T"+(i+1)+" v"+(i+1)+"=default(T"+(i+1)+")");
            if(i < count-1){
                Write(",");
            }
        }
        WriteLine("){");
        
        for(int i =0; i< count;i++){
            WriteLine("Value"+(i+1)+" = v"+(i+1)+";");
        }

        WriteLine("}");
    }

    public void WriteVariables(int count){
        for(int i = 0; i < count; i++){
            WriteLine("[DataMember]public T"+(i+1)+" Value"+(i+1)+"{get;set;}");
        }
    }
#>